<!DOCTYPE html>
<head>
  <title>Express App</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <script src="/js/bootstrap.css"></script>
</head>
<body>
  {{{body}}}
</body>
</html >